body {
    margin: 0;
    /* background-color: #66F2C8; */
    
    background-color: #fff5f5f8;
}


#h3 {
    
    margin-left: 15px;
    margin-top: 0px;
    font-size: 60px;
    margin-bottom: 5px;
}
#h3 {
    
    margin-left: 15px;
    font-size: 45px;
    margin-bottom: 0px;
}
.hero > p{
   
    font-size: 30px;
    font-weight:bold;
    margin-top: 150px;
    margin-left: 30px;
    text-align: center;
    color: #FA5629;
 
}

.action-button{
    padding: 15px 38px;
    
}
.add-buttons{
    display: flex;
    margin-left:0px;
    /* float: left; */
    padding: 10px 24px;
}


/* 
table, th, td {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    }
table {
    display: flex;
    width: 70%;
    margin-top: 50px;
    margin-left: 0px;
    margin-right: 50px;
    border-radius: 0px;
      
}

th{
    background-color: #f1f1f1;
    font-size: 25px;
    margin-left: 40%;
}
 */

.table table-striped table-bordered table-hover table-sm{
    display: flex;
    width: 70%;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 0px;
}


div.modal-body > * {

    margin-bottom: 10px;
}


    
.hidden, .hidden-td, .btn-save {

    display: none;
}


.search{
    text-align: center;
    size: 50px;
}